body {
  background-image: url(img/8e46150f790fbefe438d9c2767c32ad1.gif);
  background-size: auto; /* This will make the image cover the entire screen */
  background-position: center; /* Center the background image */
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

header {
  margin-bottom: auto;
}

footer {
  margin-top: auto;
}

#container {
  font-family: "Crillee Italic BT";
  margin-top: -10px;
  text-align: center;
  padding: 20px;
}

input[type="text"],
input[type="tel"] {
  border-radius: 10px;
  border: inset #0099f6;
  width: 200px;
  padding: 15px;
  margin: 15px;
}

button {
  font-size: 20px;
  border-radius: 20px;
  font-family: "Crillee Italic BT";
  background-color: #0098f6cc;
  color: white;
  padding: 10px 20px;
  border: outset;
  cursor: pointer;
  margin: 20px;
}

button:hover {
  border: inset white;
  background-color: #0099f6;
  font-family: "Crillee Italic BT";
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
h1 {
  color: #0099f6;
  font-size: 50px;
  font-family: "Crillee Italic BT";
}
#name {
  color: rgb(255, 230, 0);
  font-size: 15px;
  background-image: url(img/space_rain.gif);
  font-family: "Crillee Italic BT";
}
#phone {
  font-size: 15px;
  background-image: url(img/space_rain.gif);
  color: rgb(255, 230, 0);
  font-family: "Crillee Italic BT";
}

#error-message {
  font-size: 25px;
  color: rgb(255, 0, 55);
  font-family: "CrilleeEF-LightItalic";
}
::placeholder {
  color: white;
}

#contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  input[type="text"],
  input[type="tel"] {
    width: 100%;
  }
}
